{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block clientfestival %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content  %}
<div class="container">
  
<h3 class="text-center text-primary">Albums</h3>
<hr>
<div class="container row">
{% for image in gallary %}
  <div class="col-md-3">
    
  <a target="_blank" href="{{image.image.url}}">
    <img src="{{image.image.url}}" class="img-responsive">
  </a>
  <div class="desc">{{image.title}}</div>
  </div>
{% endfor %}
</div>


</div>


 
{% endblock %}

{% block js %}


{% endblock %}
