{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block clientabout %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content  %}
<head><h1><b>About 	Us </b></h1></head>
<body>
 <div class="container">

          <p><span><i class="#" aria-hidden="true"></i></span> <h1>Visit Nepal  Tours and travel</h1> </p><br><br><br>

           <p>Visit Nepal is one of the leading tours and travel company of Nepal. It is a government registered travel agency which is recognized by Trekking Agencies' Association of Nepal. It is a client-oriented organization which was established in 20019 with a sole objective “Satisfied Customer Our Assets”. The organization has been providing the wide range of trek and tour services to thousands of tourists since then. The reviews of our customers’ speak aloud about us keeping NTA different from the crowd of trekking agencies. </p><br><br><br><br>


 <p><B>Motto:</B> Satisfied Customer Our Assets<br><br><br><br>


 <B>Vision:</B> Marketing Nepal’s beauty throughout the world<br><br><br><br>


<B>Mission:</B> Encourage international and domestic tourists and retain the country’s youth by creating job opportunities in the country<br><br><br>

<B>Core Values:</B> Provide genuine service through local guides focusing safety and salient trek without hampering local culture and natural existence. For further queries, please click contact us, as we are always ready for your service.
</p>



  </div>



{% endblock %}

{% block js %}

{% endblock %}