{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block clientcontact %}active{% endblock %}

{% block css %}
{% endblock %}

{% block content  %}

<head><h1><b>Contact us </b></h1></head>
<body>
 <div class="container">

          <p> <h1>Visit Nepal  Tours and travel</h1> </p>
           <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><a href="#"><h2>Sathdobato, Lalitpur Nepal</h2> </a></p>
          <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#"><h2>EMAIL:vnttprg.com</h2></a> </p>
          <p><span><i class="fa fa-mobile" aria-hidden="true"></i></span><a href="#"><h2>CELL:9861980312/9861118242/9840894609</h2></a> </p>
          <p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#"><h2>WEBSITE:Cosmos college of Management and technology</h2> </a></p>
  </div>

   <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d859d55c22bdd393bb6f9a5/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<html>
<body>

<h1>Our Google Location</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(27.700769, 85.300140),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChA6REwlOwMsi4OHoTt8o78UJHhV2sWcM&callback=myMap"></script>

</body>
</body>

{% endblock %}

{% block js %}

{% endblock %}