{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>    
<link rel="shortcut icon" href="{% static 'clientstatic/images/arrows.png' %}" type="image/x-icon">

<link href="{% static 'clientstatic/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome -->     
<link href="{% static 'clientstatic/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'clientstatic/css/flexslider.css' %}" type="text/css" media="screen" property="" />
<!-- stylesheet -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!--//fonts-->
<script type="text/javascript" src="{% static 'clientstatic/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'clientstatic/js/main.js' %}"></script>
<!-- Required-js -->
<!-- main slider-banner -->
<script src="{% static 'clientstatic/js/skdslider.min.js' %}"></script>
<link href="{% static 'clientstatic/css/skdslider.css' %}" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'clientstatic/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'clientstatic/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

<!-- scriptfor smooth drop down-nav -->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //script for smooth drop down-nav -->
</head>
<body >
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<!-- header -->
	<header>
		<div class="w3layouts-top-strip">
			<div class="container">
				<div class="logo">
					<h1><a href="{% url 'ntpapp:clienthome' %}">Visit Nepal </a></h1>
					<p>Naturally and Culturally</p>
				</div>
				<div class="w3ls-social-icons">
					<a class="facebook" href="//facebook.com"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="//twitter.com"><i class="fa fa-twitter"></i></a>
					<a class="youtube" href="//youtube.com"><i class="fa fa-rss"></i></a>
				</div>
			</div>
		</div>
		<!-- navigation -->
			<nav class="navbar navbar-default">
			  <div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a class="{% block clienthome %}{% endblock %}" href="{% url 'ntpapp:clienthome' %}">Home</a></li>
					<li class="dropdown">
					  <a href="" class="{% block clientblog %}{% endblock %} dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs <span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	{% for category in allcategory %}
						  <li><a href="{% url 'ntpapp:clientcategorydetail' category.id %}">{{category.title}}</a></li>
						{% endfor %}
						
					  </ul>
					</li>
					
					<li><a class="{% block clientfestivallist %}{% endblock %}" href="{% url 'ntpapp:clientfestivallist' %}">Festival/Events</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heritage <span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  <li><a href="{% url 'ntpapp:naturalbeauty' %}">Natural Beauty</a></li>
						<li><a href="//facebook.com">Cultural Heritage</a></li>
						
					  </ul>
					</li>
					<li><a class="{% block clientgallarylist %}{% endblock %}" href="{% url 'ntpapp:clientgallarylist' %}">Gallary</a></li>
					<li><a class="{% block clientabout %}{% endblock %}" href="{% url 'ntpapp:clientabout' %}">About</a></li>

					<li><a class="{% block clientcontact %}{% endblock %}" href="{% url 'ntpapp:clientcontact' %}">Contact</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->
				<div class="w3_agile_login">
							<div class="cd-main-header">
								<a class="cd-search-trigger" href="#cd-search"> <span></span></a>
								<!-- cd-header-buttons -->
							</div>
 
							</div>
						</div>
						<div class="clearfix"> </div>

			  </div><!-- /.container-fluid -->
			</nav>
			
		<!-- //navigation -->
	</header>
	<!-- //header -->

	{% block content %}


	{% endblock %}

	<div class="row">
		<div class="col-md-4" id="offlinedata">
			
		</div>
	</div>
	<!-- footer -->
	<div class="footer-agile-info">
		<div class="container">
			<div class="col-md-4 w3layouts-footer">
				<h3>Contact Information</h3>
					<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Sathdobato  lalitpur , Nepal </p>
					<p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">shankarsachin.com</a> </p>
					<p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>P: +9779840894609 / +977 9861118242 </p>
					<p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#">W:Cosmos college of Management and technology </a></p>
			</div>
			 
 
		</div>
	</div>
	<!-- footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="w3agile-list">
				<ul>
					<li><a href="//clienthome.html">Home</a></li>
					<li><a href="//clientabout.html">About</a></li>
					<li><a href="photography.html">Photography</a></li>
					<li><a href="//clientcontact.html">Contact</a></li>
				</ul>
			</div>
			<div class="agileinfo">
				<p> Design by <a href="http://cosmoscollege.edu.np/">Sher|Prakash|Shankar|Bishoj</a></p>
			</div>
		</div>
	</div>
<!-- //copyright -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'clientstatic/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'clientstatic/js/idb.js' %}"></script>
  <script type="text/javascript" src="{% static 'clientstatic/js/idbop.js' %}"></script>
</body>
</html>