{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block clientblog %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="agile-banner">
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">{{category.title}}</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="container">
		<div class="banner-btm-agile">
			
		<!-- //btm-wthree-left -->
			<div class="col-md-9 btm-wthree-left">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">{{category.title}}</h3>
				<p class="agileinfo_para">This is Nepal</p>
			</div>
				<div class="events w3">
					<div class="events-main">
						{% for blog in category.blog_set.all %}
						{% if forloop.counter|divisibleby:2 %}
						<div class="events-top">	
							<div class="col-md-6  w3ls fea-left">
								<div class="w3agile_special_deals_grid_left_grid">
									<a href="{% url 'ntpapp:clientblogdetail' blog.id  %}"><img src="{{blog.image.url}}" class="img-responsive" alt="" /></a>
								</div>
							</div>
							<div class="col-md-6 wthree fea-right">
								<h3>{{blog.title}}</h3>
								<p>{{blog.details|striptags|safe|truncatewords:"50"}}</p>
								<a class="agileits w3layouts" href="{% url 'ntpapp:clientblogdetail' blog.id  %}">Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
							</div>
							<div class="clearfix"> </div>
						</div>
						{% else %}
						<div class="events-top">
							<div class="col-md-6  w3-agile fea-right">
								<h3>{{blog.title}}</h3>
								<p>{{blog.details|striptags|safe|truncatewords:"50"}}</p>
								<a class="agileits w3layouts" href="{% url 'ntpapp:clientblogdetail' blog.id  %}">Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
							</div>
							<div class="col-md-6  fea-left">
								<div class="w3agile_special_deals_grid_left_grid">
									<a href="{% url 'ntpapp:clientblogdetail' blog.id  %}"><img src="{{blog.image.url}}" class="img-responsive" alt="" /></a>
								</div>
							</div>
								<div class="clearfix"> </div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				
				</div>	
			</div>
			<!-- //btm-wthree-left -->
				<!-- btm-wthree-right -->
			<div class="col-md-3 w3agile_blog_left">
				
				<div class="agileinfo_calender">
				<h3>CONNECT SOCIALLY</h3>
				<div class="w3ls-social-icons-1">
					<a class="pinterest" href="//pinterest.com"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="//linkedin.com"><i class="fa fa-linkedin"></i></a>
					<a class="google-plus" href="google-plus.com//"><i class="fa fa-google-plus"></i></a>
					<a class="youtub" href="//youtube.com"><i class="fa fa-behance"></i></a>
				</div>
				</div>
				<div class="w3ls_popular_posts">
					<div class="w3ls_popular_posts">
					<h3>Popular Posts</h3>
					<div class="agileits_popular_posts_grid">
						<div class="w3agile_special_deals_grid_left_grid">
							<a href="singlepage.html"><img src="{% static 'clientstatic/images/p1.jpg' %}" class="img-responsive" alt="" /></a>
						</div>
						<h4><a href="singlepage.html"></a>Waterfall in Nepal</h4>
						<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2019</h5>
					</div>
					<div class="agileits_popular_posts_grid">
						<div class="w3agile_special_deals_grid_left_grid">
								<a href="singlepage.html"><img src="{% static 'clientstatic/images/p2.jpg' %}" class="img-responsive" alt="" /></a>
							</div>
						<h4><a href="mounterring.com">Mountaring in Nepal</a></h4>
						<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2019</h5>
					</div>
					<div class="agileits_popular_posts_grid">
						<div class="w3agile_special_deals_grid_left_grid">
								<a href="singlepage.html"><img src="{% static 'clientstatic/images/p3.jpg' %}" class="img-responsive" alt="" /></a>
						</div>
						<h4><a href="singlepage.html"></a>wildlife reservation</h4>
						<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2017</h5>
					</div>
				</div>
				
				<div class="w3l_categories">
					<h3>Categories</h3>
					<ul>
						{% for cat in categories %}
						<li><a href="{% url 'ntpapp:clientcategorydetail' cat.id %}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>{{cat.title}}</a></li>
						{% endfor %}
						
					</ul>
				</div>
			<div class="w3ls_recent_posts">
					<h3>Recent Posts</h3>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<div class="w3agile_special_deals_grid_left_grid">
									<a href="singlepage.html"><img src="{% static 'clientstatic/images/r1.jpg' %}" class="img-responsive" alt="" /></a>
								</div>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="singlepage.html">Pokhara and its beauty</a></h4>
							<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2019</h5>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<div class="w3agile_special_deals_grid_left_grid">
									<a href="singlepage.html"><img src="{% static 'clientstatic/images/r2.jpg' %}" class="img-responsive" alt="" /></a>
								</div>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="singlepage.html">poonhill and its sunrising </a></h4>
							<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2019</h5>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<div class="w3agile_special_deals_grid_left_grid">
									<a href="singlepage.html"><img src="{% static 'clientstatic/images/r3.jpg' %}" class="img-responsive" alt="" /></a>
								</div>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="singlepage.html">Lord buddha and lumbini </a></h4>
							<h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2019</h5>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<div class="w3l_tags">
					<h3>Tags</h3>
					<ul class="tag">
						<li><a href="singlepage.html">Photography</a></li>
						<li><a href="singlepage.html">Restaurant</a></li>
					</ul>
				</div>
			</div>
			<!-- //btm-wthree-right -->
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}