{% extends 'clienttemplates/clientbase.html' %}

{% block festivallist %}active{% endblock %}


{% block content %}
<div class="container my-3">
	
<h3>All Festivals</h3>
<hr>
<div class="row">
	{% for Heritage in Heritages %}
		<div class="col-md-4">
			<h4><a href="{% url 'ntpapp:clientheritagedetail' Heritage.id %}">{{heritage.title}} Heritage(Location: {{location.heritage}})</a></h4><hr>
			<a href="{% url 'ntpapp:clientHeritagedetail' heritage.id %}"><img src="{{heritage.image.url}}" class="img-responsive img-thumbnail"></a><br>
			<h5>Significance: {{heritage.significance|truncatechars:"100"}}</h5>
		</div>
	{% endfor %}
</div>
</div>


{% endblock %}