{% extends 'clienttemplates/clientbase.html' %}

{% block festivallist %}active{% endblock %}


{% block content %}
<div class="container my-3">
	
<h3>All Festivals</h3>
<hr>
<div class="row">
	{% for festival in festivals %}
		<div class="col-md-4">
			<h4><a href="{% url 'ntpapp:clientfestivaldetail' festival.id %}">{{festival.title}} Festival(Month of Celebration: {{festival.month}})</a></h4><hr>
			<a href="{% url 'ntpapp:clientfestivaldetail' festival.id %}"><img src="{{festival.image.url}}" class="img-responsive img-thumbnail"></a><br>
			<h5>Significance: {{festival.significance|truncatechars:"100"}}</h5>
		</div>
	{% endfor %}
</div>
</div>


{% endblock %}